
.tip-item {
  /*background: #f6f6f6;*/
  /*margin-bottom: 10px;*/
  font-size: 16px;
  background-color: #eeeeee;
  /*margin-bottom: 30px;*/
}

.tip-item-header {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  background-color: #eeeeee;
  color: #4f4e4e;
  cursor: pointer;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
  padding: 0.3125em 20px 0.375em 35px;
  margin: 8px 0 0 0;
}

.tip-item-text {
  font-family: 'ProximaNova-Regular';
  font-size: 13px;
  line-height: 20px;
  color: #656565;
  margin: 0.625em 0;
  padding-right: 10px;
}

.tip-item > div {
  background-color: white !important;
  background: #f6f6f6 !important;
  padding-left:35px !important;
  margin-bottom: 5px;
}

.tip-item-text p {
  font-size:13px;
  line-height: 20px;
  color: #656565;
  margin: 0.625em 0;
}

.accordian-plus {
  background: url('/assets/accordion-plus-purple.gif') no-repeat 15px 7px;
}

.accordian-minus {
  background: url('/assets/accordion-minus-purple.gif') no-repeat 15px 12px;
}

.close {
  -moz-transition: max-height .25s ease-out;
  -ms-transition: max-height .25s ease-out;
  -o-transition: max-height .25s ease-out;
  -webkit-transition: max-height .25s ease-out;
  transition: max-height .25s ease-out;
  max-height: 0;
  overflow: hidden;
}

.open {
  -moz-transition: max-height .5s ease-in;
  -ms-transition: max-height .5s ease-in;
  -o-transition: max-height .5s ease-in;
  -webkit-transition: max-height .5s ease-in;
  transition: max-height .5s ease-in;
  max-height: 400px;
  overflow: hidden;
}
