:host {
  background-color: white;
  padding: 0 10px 0 40px;
  float: left;
  font-family: ProximaNova-Regular;
}
.headerImage {
  width: 100%;
}

.cardInfoContainer {
  margin-top: 40px;
  margin-left: 60px;
  width: 330px;
  float: left;
  border-top:1px solid #000;
  border-bottom: 1px solid #000;
  .info {
    border-bottom: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    &:last-of-type {
      border-bottom: 0;
    }
    .value {
      font-family: 'MuseoSlab-500';
      font-weight: bold;
    }
  }
}

.virtualCard {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 102px;
  img {
    width: 260px;
    height: auto;
  }
}
.balanceInfo {
  margin-top: 80px;
  border-top: 10px solid #fbead6;
  padding-top: 15px;
  width: 590px;
  margin-left: 60px;
  .cardActivityLabel {
    font-size: 18px;
  }
  .availableBalanceLabel {
    font-size: 11px;
  }
  .availableBalance {
    font-size: 48px;
    font-weight: bold;
    font-family: 'MuseoSlab-500';
  }
  .summaryContent {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;

    border-bottom: 5px solid #eeeeee;
    .rowValue {
      padding-bottom: 10px;
      span {
        vertical-align: top;
        display: inline-block;
        width: 50%;
      }
      span:first-of-type {
        font-size: 24px;
      }
      span:last-of-type {
        font-family: 'MuseoSlab-500';
        font-weight: bold;
        text-align: right;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}
