@import 'fonts.css';

p {
  line-height: 23px;
}
#ibody {
  display: none;
}
/* Bootstrap remnants we still need */
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.pageContainer {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  border-top: 5px solid #f89d20;
  background: #FFF;
  padding: 40px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .pageContainer {
    padding: 15px;
  }
}

a, a:hover, a:focus {
  color: #f89d20;
  text-decoration: none;
}

/* Global Helpers */
.noPadding {
  padding-left: 0;
  padding-right: 0;
}

/* Global Base */
body {
  font-family: ProximaNova-Regular;
  font-size: 15px;
  background: #f6f6f6;
}

/* Global Overrides */
@media screen and (min-width: 768px) and (max-width: 960px) {
  .desktopHeader > div {
    padding: 0 15px;
  }

  .backToTopContainer {
    padding: 0 15px;
  }
}

@media screen and (max-width: 960px) {
  footer > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Header Overrides */
.btm-nav-icon img {
  margin-top: 30px;
}

.bottomNavigationLinks {
  margin-top: 12px;
}

.bottomNavigationLinks ul li a {
  color: #f89d20 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.bottomNavigationLinks ul li a:hover, .bottomNavigationLinks ul li a.active {
  color: #aaa9aa !important;
}

.mobile-menu {
  background-color: #f6f6f6 !important;
}

.mobile-menu ul {
  padding-left: 0;
}

.mobile-menu > ul > li {
  border-bottom: 1px solid #a8a8aa !important;
  font-size: 1.125em;
  line-height: 23px;
}

.mobile-menu > ul > li a {
  font-size: 100%;
  font-weight: normal !important;
  color: #aaa9aa !important;
}

.mobile-menu > ul > li:hover {
  background-color: #656565 !important;
  color: #FFF !important;
}

.mobile-menu > ul > li:hover a {
  color: #FFF !important;
}

.mobile-menu .program-names li {
  font-size: 13.5px;
}

.mobile-menu .program-names {
  color: #aaa9aa !important;
}

/* Footer Overrides */
.backToTopContainer a {
  color: #f89d20 !important;
}

.footer {

}
